@media (min-width: 1024px) and (max-width: 1440px) {
  body {
    max-width: 1440px;
    margin: 0 auto;
  }
  * {
    margin: 0;
    padding: 0;
  }
  * {
    box-sizing: border-box;
  }
  h1 {
    font-family: "Cormorant Infant", serif;
  }
  p, a {
    font-family: "Josefin Sans", sans-serif;
  }
  .button {
    height: 9, 5vh;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 9vh;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.2px;
  }
  .pre-title {
    display: inline-block;
    border-top: 1px solid #E1B168;
    border-bottom: 1px solid #E1B168;
    padding-top: 5px;
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #292E36;
  }
  h4 {
    font-family: "Cormorant Infant";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    color: #292E36;
  }
  .welcome-block {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto auto auto 1fr;
    padding-left: 3vw;
    background: #292E36;
  }
  .welcome-block__title {
    grid-column: 1/2;
    grid-row: 2/3;
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 100px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
  }
  .welcome-block__text {
    grid-column: 1/2;
    grid-row: 3/4;
    padding-top: 3vh;
    padding-right: 5vw;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
  }
  .welcome-block__btn_transparent {
    grid-column: 1/2;
    background: none;
    grid-row: 4/5;
    width: 230px;
    margin-top: 3vh;
    border: 2px solid #E1B168;
    color: #E1B168;
  }
  .welcome-block__image {
    width: 100%;
    background: #292E36;
    grid-column: 2/3;
    grid-row: 1/6;
    border-left: 2vw solid rgba(255, 255, 255, 0.1);
    border-top: 4vh solid rgba(255, 255, 255, 0.1);
    border-right: 2vw solid rgba(255, 255, 255, 0.1);
    position: relative;
  }
  .welcome-block__image_main {
    width: 90%;
    height: 100%;
    padding-top: 5%;
    display: block;
    margin: 0 auto;
  }
  .welcome-block__image_svg {
    position: absolute;
    top: 0;
    right: 0;
  }
  .dishes {
    padding-top: 10vh;
    padding-bottom: 5vh;
    text-align: center;
  }
  .dishes_pre-title {
    display: inline-flex;
    justify-content: center;
    padding-left: 2px;
  }
  .dishes__title {
    margin-top: 12px;
    text-align: center;
  }
  .dishes__text {
    padding-top: 8px;
    text-align: center;
  }
  .cards {
    display: flex;
    justify-content: space-around;
  }
  .cards__card-burger {
    display: grid;
    grid-template-columns: 47% 53%;
    grid-template-rows: 2fr 2fr 25px 1fr 1fr 1fr;
    background: url(/f29-project2/project2/assets/images/burger-background-blue.png);
    height: 409px;
    width: 47vw;
    padding-left: 1.8vw;
  }
  .cards__card-burger_price {
    grid-column: 1/2;
    grid-row: 1/3;
    margin-top: 68px;
    font-size: 60px;
    line-height: 66px;
    letter-spacing: 0.2px;
    color: #292E36;
  }
  .cards__card-burger_pre-title {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .cards__card-burger_title {
    grid-column: 1/2;
    grid-row: 4/5;
    font-size: 35px;
  }
  .cards__card-burger_text {
    grid-column: 1/3;
    grid-row: 5/7;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #555555;
    padding-bottom: 40px;
  }
  .cards__card-burger_photo {
    grid-column: 2/3;
    grid-row: 2/6;
    padding-right: 2vw;
    padding-top: 3.5vh;
    width: 100%;
    height: 100%;
  }
  .cards__card-pizza {
    display: grid;
    grid-template-columns: 46% 54%;
    grid-template-rows: 2fr 2fr 25px 1fr 1fr 1fr;
    background: url(/f29-project2/project2/assets/images/pizza-background-gray.png);
    height: 400px;
    width: 47vw;
    padding-left: 2vw;
  }
  .cards__card-pizza_price {
    grid-column: 1/2;
    grid-row: 1/3;
    margin-top: 68px;
    font-size: 60px;
    line-height: 66px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
  }
  .cards__card-pizza_pre-title {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .cards__card-pizza_title {
    grid-column: 1/2;
    grid-row: 4/5;
    font-size: 35px;
  }
  .cards__card-pizza_text {
    grid-column: 1/2;
    grid-row: 5/7;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #555555;
    padding-bottom: 40px;
  }
  .cards__card-pizza_photo {
    grid-column: 2/3;
    grid-row: 2/6;
    padding-right: 2vw;
    width: 100%;
    height: 100%;
  }
}/*# sourceMappingURL=style.css.map */